@import "_variables2";
@import "_comunes";

@mixin posicion-grid($column1, $column2, $row1, $row2) {
    grid-column: $column1/$column2;
    grid-row: $row1/$row2;
}

.body-construccion {
    @include gradiente-fondo($colorGradient1, $colorGradient2);
    padding-top: 10.5rem;

    .contenido-body {
        display: grid;
        grid-template-columns: 40rem;
        grid-template-rows: 15rem, 20rem;
        justify-content: center;
        justify-items: center;
    }

    h1 {
        color: $colorBlanco;
        @include posicion-grid(1, 2, 1, 2);

        cursor: default;
        height: 100px;
        margin: auto;
        display: block;

        -webkit-animation: bounce .3s ease infinite alternate;
        animation: bounce .3s ease infinite alternate;

        font-size: 45px;
        color: #FFF;
        text-align: center;
        line-height: 100px;
        text-shadow: 0 1px 0 #CCC,
            0 2px 0 #CCC,
            0 3px 0 #CCC,
            0 4px 0 #CCC,
            0 5px 0 #CCC,
            0 6px 0 transparent,
            0 7px 0 transparent,
            0 8px 0 transparent,
            0 9px 0 transparent,
            0 10px 10px rgba(0, 0, 0, .6);

    }

    #imagen-construccion {
        @include posicion-grid(1, 2, 2, 3);

    }


}

@keyframes bounce {
    100% {

        text-shadow: 0 1px 0 #CCC,
            0 2px 0 #CCC,
            0 3px 0 #CCC,
            0 4px 0 #CCC,
            0 5px 0 #CCC,
            0 6px 0 #CCC,
            0 7px 0 #CCC,
            0 8px 0 #CCC,
            0 9px 0 #CCC,
            0 30px 30px rgba(0, 0, 0, .3);
    }
}

@-webkit-keyframes bounce {
    100% {
        top: -30px;

        text-shadow: 0 1px 0 #CCC,
            0 2px 0 #CCC,
            0 3px 0 #CCC,
            0 4px 0 #CCC,
            0 5px 0 #CCC,
            0 6px 0 #CCC,
            0 7px 0 #CCC,
            0 8px 0 #CCC,
            0 9px 0 #CCC,
            0 30px 30px rgba(0, 0, 0, .3);
    }
}