<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<!-- Bootstrap -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
  integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<!-- FontAwesome -->
<script src="https://kit.fontawesome.com/742f2fd2b1.js" crossorigin="anonymous"></script>
<!-- CSS de navbar -->
<link rel="stylesheet" href="../component/navbar/navbar.css">
<!-- se añade el css del footer -->
<link rel="stylesheet" href="../component/footer/footer.css">
<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed&display=swap" rel="stylesheet">