footer {
    background: rgb(0, 167, 154);
    background: linear-gradient(180deg, rgba(0, 167, 154, 1) 0%, rgba(0, 148, 177, 1) 100%);
    color: white;
}

h5,
a{
    color:white;
}

.btn-color{
    background: #92DB5A;
    color: white;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.input-footer{
    border-radius: 0.5rem 0rem 0rem 0.5rem;

}

.btnNewsletter{
    display: flex;
    justify-content: center;
}