* {
    font-family: 'Fira Sans Condensed', sans-serif;
    box-sizing: border-box;
}

footer,
h5,
a {
    color: white;
}

.filafooter {
    width: 100%;
}

.enlace-estilo {
    color: #63C45A;
}

.btn-color {
    background: #63C45A;
    color: white;
    border-radius: 0rem 0.5rem 0.5rem 0rem;
}

.input-footer {
    border-radius: 0.5rem 0rem 0rem 0.5rem;
}

.btn-newsletter {
    display: flex;
    justify-content: center;
}