.carousel-item img {
    height: 35rem;
    margin: 0;
}

.body-inicio {
    background: linear-gradient(180deg, #63C45A 50%, #00A79A 100%);
}

#nuestros-servicios {
    position: relative;
    top: 1rem;
}

.container-fluid {
    padding: 0;
}

.fila-inicio a {
    color: black;
}

.fila-inicio {
    width: 100%;
    text-align: center;
    height: 15rem;
}

.h5-inicio {
    color: black;
}

.carousel-caption h3 {
    background: linear-gradient(180deg, #92DB5A 20%, #5ADB76 100%);
    border-radius: 1rem;
}