.nav-contact {
  background-color: #00B77B;
}

.btn-location-phone {
  margin: 10px 0;
}

.disabled {
  cursor: nonce;
}

.svg {
  width: 1.4rem;
  height: 1.4rem;
  margin-top: 10px;
}

.nav-principal {
  background-color: #63C45A;
  height: 5rem;
}

.list-navbar {
  display: flex;
  flex-direction: row;
  align-items: center;

}

.logo {
  width: 120px;
  height: 70px;
}