<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta http-equiv="X-UA-Compatible" content="ie=edge">
<title>Mis huellitas</title>
<!-- Favicon -->
<link rel="icon" type="image/svg+xml" href="imagenes/favicon.svg" sizes="any">
<link rel="icon" type="image/png" href="imagenes/favicon.png" sizes="16x16">
<!-- Bootstrap -->
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
  integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
  integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
  integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
<link rel="stylesheet" href="dist/css/bootstrap.css">
<!-- FontAwesome -->
<script src="https://kit.fontawesome.com/742f2fd2b1.js" crossorigin="anonymous"></script>
<!-- Fuente Fira Sans Condensed -->
<link href="https://fonts.googleapis.com/css?family=Fira+Sans+Condensed&display=swap" rel="stylesheet">

<!-- --------------------------------------------------------------------------------- -->
<!--                                        CSS                                        -->
<!-- --------------------------------------------------------------------------------- -->
<!-- CSS Navbar -->
<link rel="stylesheet" href="dist/css/_navbar.css">
<!--CSS Footer -->
<link rel="stylesheet" href="dist/css/_footer.css">
<!-- CSS Formulario -->
<link rel="stylesheet" href="dist/css/_formulario.css">
<!-- CSS Inicio -->
<link rel="stylesheet" href="dist/css/inicio.css">
<!-- CSS Contacto -->
<link rel="stylesheet" href="dist/css/contacto.css">
<!-- CSS Login -->
<link rel="stylesheet" href="dist/css/login.css">
<!-- CSS Construcción -->
<link rel="stylesheet" href="dist/css/construccion.css">
<!-- CSS Nosotros -->
<link rel="stylesheet" href="dist/css/nosotros.css">
<!-- CSS Blog -->
<link rel="stylesheet" href="dist/css/blog.css">
<!-- CSS Cesta -->
<link rel="stylesheet" href="dist/css/cesta.css">
<!-- CSS Tienda -->
<link rel="stylesheet" href="dist/css/tienda.css">
<!-- CSS Adopcion -->
<link rel="stylesheet" href="dist/css/adopcion.css">

<!-- --------------------------------------------------------------------------------- -->
<!--                                    Javascript                                     -->
<!-- --------------------------------------------------------------------------------- -->
<!-- Libreria de shortcut de teclado -->
<script src="mousetrap.min.js" defer></script>
<!-- Cesta en JS -->
<script src="scriptcesta.js" defer></script>
<!-- Cosas en JS -->
<script src="script.js" defer></script>
<!-- Script Shortcuts -->
<script src="scriptShortcut.js" defer></script>